<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="style.css" >
    <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <title>Application</title>
    <style>
.custom-box{
    max-width: 650px;
    background-color: #dddbdb;
    margin: 40px auto;
    padding: 30px;
    border-radius: 10px;
    font-style: inherit;
}
        textarea {
          width: 550px;
          background-color: #f3f3f3;
          border-radius: 10px;
          margin: 8px auto;
          font-style: inherit;
          resize: none;
        }
        </style>
</head>
<body>
    <main>
    <form>
    <div class="custom-box">
<label for="ques1">
    <h4>Why are you interested in this project? What do you expect to get out of it?</h4>
</label>

<textarea id="ques1" name="ques1" rows="5" cols="50" maxlength="250" placeholder=" Maximum 200 characters">
</textarea>

<label for="ques2">
    <h4>Do you have any past experience in the field?</h4>
</label><br/>

<input type="radio" id="yes" name="radio" value="yes" onclick="ShowHideDiv()">
<label for="yes">Yes</label><br>
<input type="radio" id="no" name="radio" value="no" onclick="ShowHideDiv()">
<label for="no">No</label><br>

<div id="divtext" style="display: none">
    <label for="ques3">
        <h4>If Yes, elaborate on your experience.</h4>
    </label>
    
    <textarea id="ques3" name="ques3" rows="3" cols="50" maxlength="50" placeholder=" Maximum 100 characters">
    </textarea>    
</div>

<label for="ques4">
    <h4>List relevant skills (if any):</h4>
</label>

<textarea id="ques4" name="ques4" rows="2" cols="40" maxlength="50" placeholder=" Maximum 30 characters">
</textarea>
<textarea id="ques4" name="ques4" rows="2" cols="40" maxlength="50" placeholder=" Maximum 30 characters">
</textarea>
<textarea id="ques4" name="ques4" rows="2" cols="40" maxlength="50" placeholder=" Maximum 30 characters">
</textarea>
<textarea id="ques4" name="ques4" rows="2" cols="40" maxlength="50" placeholder=" Maximum 30 characters">
</textarea>
<textarea id="ques4" name="ques4" rows="2" cols="40" maxlength="50" placeholder=" Maximum 30 characters">
</textarea>

    <div class="form-group">
      <label for="uploadCV"><h3>Upload CV</h3></label>
      <input type="file" class="form-control-file" id="uploadCV">
    </div>

    <button type="button" class="btn btn-danger">Generate Pdf</button><br/><br/>

    <button type="button" class="btn btn-success">Final Submit</button>

    </div>
    </form>

<script>
    function ShowHideDiv() {
        var yes = document.getElementById("yes");
        var divtext = document.getElementById("divtext");
        divtext.style.display = yes.checked ? "block" : "none";
    }
</script>
    </main>
</body>
</html>
